# Nord login token
NORDVPN_TOKEN=<redacted>

# Toggle Meshnet: set to "on" or "off"
CONNECT_MESHNET=on

# Toggle standard VPN routing: set a country code (e.g., US, UK, CA) or leave empty "" to disable
VPN_COUNTRY=US

# Custom DNS Servers (Optional - leave blank for Nord's default)
# Example: 1.1.1.1 or 1.1.1.1, 1.0.0.1
CUSTOM_DNS=

# kill switch
KILL_SWITCH=on

# Note: Threat Protection cannot be used simultaneously with CUSTOM_DNS
THREAT_PROTECTION=on

# Meshnet Nickname (Optional - Makes the node easy to identify in  Nord app)
MESHNET_NICKNAME=my-docker-node